<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
<title>Fragment - Page</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/cs/fragment.css}">

<link rel="stylesheet"
	href="@{font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" href="@{css/font-icon-style.css}">
<link rel="stylesheet" href="@{css/style.default.css}"
	id="theme-stylesheet">

<!-- Core stylesheets -->
<link rel="stylesheet" href="@{css/ui-elements/card.css}">
<link rel="stylesheet" href="@{css/style.css}">
</head>
<body>

</body>
</html>